
<div style="background: #fff; padding: 7px;">
	<div class="row">
	<div class="col-md-12">
		<div style="margin-bottom: 20px;"><span class="fa fa-frown-o"></span> Echec, Toutes les données n\'ont pas été reçu.</div>
	</div>
	</div>
</div>