<div class="row">
<div class="col-md-12">
	 {{ form_start(formbillet, {'class': 'row', 'style': 'margin-top: 15px;', 'attr': path('users_user_update_billet_principale', {'id': billet.id }) }}
	 {% include 'Theme/Users/User/Billet/formulairebillet.html.twig' %}
	 <div class="row">
		<div class="input-field col s12">
		  <button class="btn cyan waves-effect waves-light right" type="submit" name="action">Enregister
			<i class="mdi-content-send right"></i>
		  </button>
		</div>
	  </div>
	 {{ form_end(formbillet) }}
	<div class="clearfix"></div>
</div>
</div>
